* {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Using webkit to personalize the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece {
  padding: 20px;
}

main {
  /* Wraps the entire Main */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh; /* Full height of the viewport */
}

main > section {
  /* Centers content inside the main section */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#playersButtonContainer {
  /* Container for player buttons */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  padding-top: 0.4rem;
  background-color: rgb(64, 71, 71);
  box-shadow: 3px 3px 3px rgb(51, 46, 46);
  min-width: 35vh; /* Minimum width */
  width: 50%; /* Setting width to 50% of the viewport width */
  max-width: 100vw; /* Setting maximum width to 100vw */
  height: 30vh; /* Fixed height */
  overflow-y: auto; /* Enables vertical scrolling if necessary */
  border-radius: 0.8rem; /* Rounded corners */
  filter: blur(0.3px); /* Blur effect */
}

.playerButton {
  /* Styles for player buttons */
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.493);
  background-color: rgba(23, 25, 26, 0.904);
  border-radius: 5px; /* Rounded corners */
  width: 80%; /* Occupies 80% of the available width */
  max-width: 600px; /* Limits the maximum width */
  text-align: center; /* Centers the text */
  height: 40px; /* Fixed button height */
  min-height: 40px; /* Minimum button height */
}

#AddRemoveButtons {
  /* Container for add and remove buttons */
  display: flex;
  gap: 1vh; /* Vertical gap between buttons */
}

#addButton,
#removeButton {
  /* Styles for add and remove buttons */
  font-size: 1.4em;
  color: black;
  border-radius: 6px; /* Rounded corners */
  padding: 7px 20px; /* Adjusts padding for greater internal spacing */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Dark backdrop for modal dialogs */
}

dialog {
  border: none;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3); /* Shadow effect */
  width: 80%;
  padding: 20px; /* Internal padding */
}

#StartEndButtons {
  /* Container for start and end buttons */
  bottom: 100px; /* Distance from the bottom of the screen */
  left: 0;
  right: 0;
  display: flex;
  gap: 1vh; /* Vertical gap between buttons */
  padding: 10px; /* Internal spacing of the buttons */
  z-index: 999; /* Puts the buttons above other elements */
}

#startButton,
#endButton {
  /* Styles for start and end buttons */
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  border-radius: 6px; /* Rounded corners */
  padding: 5px 20px; /* Internal padding */
  width: 20vh; /* Fixed width */
}

#startButton,
#addButton {
  background-color: rgba(39, 250, 39, 0.808); /* Green */
}

#startButton:hover,
#addButton:hover {
  background-color: rgba(34, 199, 34, 0.623); /* Darker green on hover */
}

#endButton,
#removeButton {
  background-color: rgb(230, 41, 41); /* Red */
}

#endButton:hover,
#removeButton:hover {
  background-color: rgba(145, 28, 28, 0.897); /* Darker red on hover */
}

#endButton,
#startButton,
#addButton,
#removeButton,
.playerButton {
  transition: background-color 0.3s ease-in-out; /* Smooth color transition */
  box-shadow: 2px 2px 2px black; /* Shadow effect */
}

/* Change cursor to pointer on hover, if not disabled */
#endButton:hover:not(:disabled),
#startButton:hover:not(:disabled),
#addButton:hover:not(:disabled),
#removeButton:hover:not(:disabled),
.playerButton:hover:not(:disabled) {
  cursor: pointer; /* Pointer cursor on hover */
}

body {
  background-color: rgba(110, 109, 109, 0.877); /* Background color */
}

/* Disabled button styles */
#startButton:disabled,
#endButton:disabled,
#addButton:disabled,
#removeButton:disabled,
.playerButton:disabled {
  pointer-events: none; /* Disable interactions */
  opacity: 0.6; /* Dim the button to indicate it's disabled */
}
