* {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#playersButtons {
  display: flex;
  flex-direction: column; /* Changes direction to column */
  align-items: center; /* Centers items in the column */
  gap: 8px;
  margin-bottom: 20px;
}

.playerButton {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.493);
  background-color: rgba(23, 25, 26, 0.904);
  border-radius: 5px;
  padding: 0px 30px; /* Adjusts padding for greater internal spacing */
  width: 100%; /* Occupies 100% of the available width */
  max-width: 600px; /* Limits the maximum width */
  text-align: center; /* Centers the text */
  height: 40px; /* Increases button height */
}

#AddRemoveButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#addButton,
#removeButton {
  font-size: 1.4em;
  color: black;
  border-radius: 6px;
  padding: 7px 20px; /* Adjusts padding for greater internal spacing */
  margin-top: 15px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  width: 80%;
  padding: 20px;
}

#StartEndButtons {
  position: fixed;
  bottom: 100px; /* Greater distance from the bottom of the screen */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px; /* Internal spacing of the buttons */
  z-index: 999; /* Puts the buttons above other elements */
}

#startButton,
#endButton {
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px 20px;
}

#startButton,
#addButton {
  background-color: rgba(39, 250, 39, 0.808); /* Green */
}

#startButton:hover,
#addButton:hover {
  background-color: rgba(34, 199, 34, 0.623); /* Darker green */
}

#endButton,
#removeButton {
  background-color: rgb(230, 41, 41); /* Red */
}

#endButton:hover,
#removeButton:hover {
  background-color: rgba(145, 28, 28, 0.897);
}

#endButton,
#startButton,
#addButton,
#removeButton,
.playerButton {
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 2px black;
}

/* Change cursor to pointer on hover, if not disabled */
#endButton:hover:not(:disabled),
#startButton:hover:not(:disabled),
#addButton:hover:not(:disabled),
#removeButton:hover:not(:disabled),
.playerButton:hover:not(:disabled) {
  cursor: pointer;
}

body {
  background-color: rgba(110, 109, 109, 0.877);

}

/* Disabled button styles */
#startButton:disabled,
#endButton:disabled,
#addButton:disabled,
#removeButton:disabled,
.playerButton:disabled {
  pointer-events: none; /* Disable interactions */
  opacity: 0.6; /* Dim the button to indicate it's disabled */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  #playersButtons,
  #AddRemoveButtons {
    flex-direction: column;
    align-items: center;
  }

  .playerButton,
  #addButton,
  #removeButton {
    width: 100%;
  }

  #StartEndButtons {
    bottom: 50px; /* Adjust the distance from the bottom for smaller screens */
  }
}
