dialog::backdrop {
  background-color: rgba(0 0 0 / .3); /* Dark backdrop for modal dialogs */
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 18vh;
  border: none;
  border-radius: .5rem; /* Rounded corners */
  box-shadow: 0 0 1em rgb( 0 0 0 / .3); /* Shadow effect */
  width: 45%;
  height: 65%;
  padding: 20px; /* Internal padding */
  background-color: rgb(122, 117, 117);
  filter: blur(0.3px); /* Blur effect */
}

/* Estilo para o botão "x" */
#closeModalButton {
  position: absolute;
  top: 0px;
  right: 2vh;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

#spyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

#modalSpyImage {
  width: 3vh; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
}

#closeModalButton:hover {
  color: #ccc; /* Cor de hover */
}

.divider { /* Cria os estilos da linha divisória */
  border: none; /* Remove o estilo de borda padrão */
  border-top: 1px solid #c2c2c28c; /* Define a cor e a espessura da linha */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}

.centerModal {
  display: flex;
  justify-content: center;
  font-size: larger;
}

/* Media Query for responsiveness on mobile devices */
@media screen and (max-width: 925px) {
  dialog {
    width: 80%;
    height: 20%;
  }
}
